.modal-overlay {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparentize(#000, 0.4);

  .modal {
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    width: 50%;
    margin: 0 auto;
    min-width: 320px;
    max-width: 900px;
    outline: none;
    overflow-y: auto;
    border-radius: 3px;

    .content {
      position: relative;
      background: #ffffff;
      padding: 30px;

      .close {
        position: absolute;
        top: 15px;
        right: 15px;
        color: #cccccc;
        font-size: 26px;
        cursor: pointer;
      }
    }
  }
}